## Python linting
# https://pypi.org/project/black/
black==23.9.1

## Flake8 - Tool For Style Guide Enforcement.
# https://flake8.pycqa.org/en/latest/
flake8==6.1.0

## Isort - A Python utility / library to sort imports.
# https://pycqa.github.io/isort/
isort==5.12.0

# Pre-commit hook framework
# https://pypi.org/project/pre-commit/
pre-commit==3.5.0

# Python test framework
# https://docs.pytest.org
pytest==7.4.2

# Python HTTP library
# https://pypi.org/project/requests/
requests==2.31.0

# Supress NotOpenSSLWarning
# Ref: https://github.com/urllib3/urllib3/issues/2168
urllib3==1.26.6
